version https://git-lfs.github.com/spec/v1
oid sha256:ad8d8a9f7dd6f7073c156ff5db2874f1e5288a1db57fac17e8e0f9c03d3b56cc
size 106

.DS_Store
.ipynb_checkpoints/*
data/npm_json.json
node_component/.DS_Store
node_component/node_modules/
